.ant-layout-header {
    background-color: white!important;
}
.logo {
    float: left;
    width: 100px;
    height: 100px;
}
.logo img {
    width: 150px;
    height: 60px;
    margin-left: 30px;
}
.title {
    line-height: 64px;
    text-align: center;
    color: rgb(100, 88, 64);
    font-size: 40px;
    font-weight: 800;
}
.btn-list {
    float: right;
    display: flex;
}
.open img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

.egg img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

.account img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.pop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.token {
    width: 200px;
    font-size: 16px;
    word-wrap: break-word;
    text-align: center;
    margin: 10px;
}

.site-layout-content {
    display: flex;
    background-color: black;
    justify-content: center;
}

.circle-big {
    background-image: url('./outer.png');
    height: 900px;
    width: 900px;
    border-radius: 50%;
    position: relative;
    animation: my-rotate 8s linear 500ms infinite;
}
.circle-small {
    background-image: url('./inner.png');
    height: 600px;
    width: 600px;
    left: 150px;
    top: 150px;
    border-radius: 50%;
    position: relative;
    animation: rev-rotate 4s linear 500ms infinite;
}
.circle-small>img {
    position: absolute;
    top: 0;
    right: 300px;
}
.box {
    height: 300px;
    width: 300px;
    left: 150px;
    top: 150px;
    line-height: 300px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: rgb(114, 99, 71);
    border-radius: 50%;
    background-color: white;
    position: relative;
    cursor: pointer;
    animation: my-rotate 8s linear 500ms infinite;
}

.mint-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    line-height: 50px;
    height: 300px;
}

.mint-box input {
    height: 50px;
    font-size: 14px;
    width: 150px;
}

.amount-left {
    
    font-size: 20px;
}

.mint {
    height: 100px;
    line-height: 100px;
}

@keyframes my-rotate{
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
    
}
@keyframes rev-rotate{
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(-360deg);
    }
    
}